body{
    background-color: #0a0a0a;
}

h3{
    color: #4DB5FF;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    margin-left: 3.5rem;
    margin-top: 170px;
    letter-spacing: 5px;
}

p{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    margin-left: 3.5rem;
    margin-top: 20px;
    width: 600px;
}