body{
    background-color: #2a2a2a;
}



h3{
    color: white;
    font-family: Times new roman;
    font-size: 4rem;
    margin-left: 2rem;
}


p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}