button{
    color: white;
    background-color: #1e1e1e;
    border: none;
    padding: 15px 20px;
    border-radius: 35px;
    cursor: pointer;
    margin-left: 3.5rem;
    margin-top: 10px;
    font-family: monospace;
    width: 20%;
    font-size: 1rem;
}

button:hover{
    background-color: #4DB5FF;
    color: rgb(0, 0, 0);
}