* {
  margin: 0;
  padding: 0;
  
}



.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  background: #1e1e1e;

  margin-top: -487px;
}

.logo {
  font-size: 26px;
  font-weight: bold;
  color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 45px;
text-decoration: none;
  color: #ffffff;
  font-size: 15px;
 margin-top: 20px;
 font-family: 'Times New Roman', Times, serif;
  font-weight: bold;

}



