body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.navbar{
    background-color: #1e1e1e;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
     display: flex;
     align-items: center;
}

.logo{
    font-weight: bold;
    color: #4DB5FF;
    font-size: 1.5rem;
    margin-left: 30px;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 50px;
    margin-left: auto;

}


